@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype") tech("variations");
  font-weight: 100 900;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;

  /* Colors */
  --pure-white: hsl(0, 0%, 100%);
  --gunmetal: hsl(215, 31%, 21%);
  --dark-electric-blue: hsl(215, 17%, 45%);
  --blue: hsl(227, 92%, 59%);
  --blue-light: hsl(227, 100%, 67%);
  --blue-transparent: hsla(227, 92%, 58%, 15%);

  --border: hsl(200, 24%, 88%);
  --bx-shadow: hsla(211, 40%, 69%, 25%);

  /* Fonts */
  --heading-l: 600 4.8rem/110% "Inter", sans-serif;
  --heading-mx: 600 3.2rem/110% "Inter", sans-serif;
  --heading-m: 600 2.4rem "Inter", sans-serif;
  --heading-s: 600 2rem/110% "Inter", sans-serif;
  --body-m: 400 1.6rem/150% "Inter", sans-serif;
  --body-m-sb: 600 1.6rem/150% "Inter", sans-serif;
  --body-m-b: 700 1.6rem/150% "Inter", sans-serif;
  --body-s: 400 1.6rem/150% "Inter", sans-serif;
}

body {
  width: calc(100% - 4.8rem);
  margin: 0px;
  padding: 0px 2.4rem;
  /* letter-spacing: -0.05em; */
}
